@import './scss/bootstrap.min.css';
@import './scss/controlGroup.scss';
@import "../node_modules/react-toggle-switch/dist/css/switch.min.css";

body {
  max-height: 100vh;
  user-select: none;
}

#root {
  max-height: 100vh;
}
