.slider-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.slider-container {
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: center;
}

.rc-slider-vertical {
  height: auto;
  flex: 1;
}

p {
  margin-bottom: 0
}

.active {
  box-shadow: inset 0 5px 20px rgba(0,0,0,1);
}

.active:focus {
  @extend .active;
}

.section {
  border: 1px solid black;
}
