.slider-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.rc-slider-vertical {
  height: auto;
  flex: 1;
}

.slider-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

p {
  margin-bottom: 0
}

.active {
  box-shadow: inset 0 5px 20px rgba(0, 0, 0, 1);
}

.active:focus {
  @extend .active;
}

.section {
  border: 1px solid black;
}

#control-container {
  display: grid;
  grid-template-columns: auto 2fr 5fr 2fr 5fr;
  grid-template-rows: auto auto;
  grid-template-areas: "settings   lev-control   lev-graph   ec-control      ec-graph" "settings   mw-control    mw-graph    drive-control   drive-graph";
  max-width: 100vw;
  >* {
    outline: 1px solid black;
  }
}

.control-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  >* {
    margin: 5px 0 5px 0;
  }
  >.r {
    display: flex;
    flex-direction: row;
    margin: 0 -5px 0 -5px;
    >* {
      flex: 1;
      margin: 0 5px 0 5px;
    }
  }
}
