.network-bar {
  padding: 0 10px 0 10px;
  background-color: lightgray;
  * {
    margin-left: 10px;
    margin-right: 10px;
  }
  .good {
    color: green
  }
  .warn {
    color: orange
  }
  .error {
    color: red
  }
}
